{% extends "app/base2.html" %}
{% block title %}
<title>Administracion</title>
{% endblock %}

{% block contenido %}
<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2>Bienvenido al sistema de administración de Ferremas</h2>
      <p>Para gestionar productos, marcas y/o categorías, por favor navegue desde la barra de navegación de la pagina web</p>
    </div>
    <div class="col-12 col-md-6">
      <img class="img-fluid" src="https://img.freepik.com/foto-gratis/disenador-web-freelance-masculino-maduro-sentado-espacio-trabajo-conjunto-trabajando-computadora-portatil-escribiendo-tareas-cuaderno_176420-7919.jpg?size=626&ext=jpg&ga=GA1.1.2113030492.1719878400&semt=ais_user" alt="">
    </div>
  </div>
</div>

<br><br><br>
{% endblock %}