{% extends 'app/base.html' %}
{% load static %}
{% block title %}
<title>Login</title>
{% endblock %}

{% block contenido %}

<div class="container">


  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <br><br><br>
      <div class="card">
        <div class="card-body">

          <h2>Login</h2>
          <hr>
          <form action="" method="post">

            {% csrf_token %}

            <label for="exampleInputEmail1" class="form-label">Nombre de usuario</label>
            <input class="form-control" type="text" name="username" autofocus="" autocapitalize="none"
              autocomplete="username" maxlength="150" required="" id="id_username">
            <label for="exampleInputEmail1" class="form-label">Contraseña</label>
            <input class="form-control" type="password" name="password" autocomplete="current-password" required=""
              id="id_password">
            <hr>

            <div class="links d-flex justify-content-start">

              <a href="{% url 'home' %}" class="btn btn-default">Ir al home</a> &nbsp; | &nbsp;

              <a href="{% url 'registro' %}" class="btn btn-default">Registrarse</a>

            </div>


            <div class="d-grid mt-3">
              <input class="btn btn-success" type="submit" value="Iniciar Sesión" id="iniciar">
            </div>
            
          </form>

          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}


        </div>
      </div>


    </div>
  </div>


</div>

{% endblock %}