{% extends 'app/base.html' %}
{% load static %}
{% block title %}
<title>Login</title>
{% endblock %}

{% block contenido %}

<div class="container">


  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <br><br><br>
      <div class="card">

        <div class="card-header">
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 35%"></div>
          </div>
          <br>
          <h4>Inicio de Sesión</h4>
        </div>


        <div class="card-body">

          <form id="formularioLogin" action="" method="post">

            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <label for="exampleInputEmail1" class="form-label">
                  <strong>Nombre de usuario</strong>
                </label>
                <span class="info-text"> (Este campo sólo acepta texto)</span>
                <input class="form-control" type="text" name="username" autofocus="" autocapitalize="none"
                  autocomplete="username" maxlength="150" required="" id="id_username">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="exampleInputEmail1" class="form-label">
                  <strong>Contraseña</strong>
                </label>
                <span class="info-text"> (Este campo debe tener letras y números)</span>
                <div class="input-group mb-3">
                  <input class="form-control" type="password" name="password" autocomplete="current-password" required="" id="id_password">
                  <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                      <i class="bi bi-eye-slash" id="togglePasswordIcon"></i>
                  </button>
              </div>
              </div>
            </div>

            <hr>




            <div class="d-grid mt-3">
              <input class="btn btn-success" type="submit" value="Iniciar Sesión" id="iniciar">
            </div>

            <br>

            <div class="links d-flex justify-content-start">

              <a href="{% url 'home' %}" class="btn btn-default"> <i class="bi bi-skip-backward-circle"></i> Volver al paso anterior</a> &nbsp; | &nbsp;

              <a href="{% url 'registro' %}" class="btn btn-default"> <i class="bi bi-person-plus"></i> Crear cuenta</a>

            </div>

          </form>

        </div>
      </div>


    </div>
  </div>


</div>

{% endblock %}

{% block js %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
<!-- js de validaciones -->
<script src="{% static 'app/js/gestionLogin.js' %}"></script>
<script src="{% static 'app/js/eyeSlash.js' %}"></script>
{% endblock %}