{% extends 'app/base.html' %}

{% load static %}

{% block title %} <title>Registrarse</title>{% endblock %}


{% block contenido %}
<br><br>
<div class="container">

  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h4>Registrarse</h4>
        </div>
        <div class="card-body">

          <form id="formularioRegistro" action="" method="post">

            {% csrf_token %}

            <div class="row">
              <div class="col-12">
                <label for="id_username" class="form-label">Nombre de usuario:</label>
                <span class="info-text"> (Este campo sólo acepta texto)</span>
                <input class="form-control" type="text" name="username" maxlength="100" autocapitalize="none"
                  autocomplete="username" autofocus required id="id_username">
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label for="id_first_name" class="form-label">Nombre:</label>
                <input class="form-control" type="text" name="first_name" maxlength="100" id="id_first_name">
              </div>
              <div class="col-6">
                <label for="id_last_name" class="form-label">Apellidos:</label>
                <input class="form-control" type="text" name="last_name" maxlength="100" id="id_last_name">
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <label for="id_email" class="form-label">Dirección de correo electrónico:</label>
                <input class="form-control" type="email" name="email" maxlength="254" id="id_email">
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <label for="id_password1" class="form-label">Contraseña:</label>
                <span class="info-text"> (Contraseña debe ser de 8 caracteres, debe contener letras y números)</span>
                <input class="form-control" type="password" name="password1" autocomplete="new-password" required=""
                  id="id_password1">
              </div>
              <div class="col-12">
                <label for="id_password2" class="form-label">Confirmar contraseña:</label>
                <input class="form-control" type="password" name="password2" autocomplete="new-password" required=""
                  id="id_password2">
              </div>
            </div>

            <hr>

            


            <div class="d-grid mt-3">
              <input type="submit" value="Registrarse" class="btn btn-success" id="registrarse">
            </div>

            <br>

            <div class="links d-flex justify-content-start">
              <a href="{% url 'home' %}" class="btn btn-default">  <i class="bi bi-house"></i> Ir al home</a> &nbsp; | &nbsp;
              <a href="{% url 'login' %}" class="btn btn-default"> <i class="bi bi-box-arrow-in-right"></i> Iniciar sesión</a>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>

</div>
<br><br>

{% endblock %}


{% block js %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
<!-- js de validaciones -->
<script src="{% static 'app/js/gestionRegistro.js' %}"></script>
{% endblock %}