{% extends 'app/base2.html' %}
{% block title %}
<title>Marcas</title>
{% endblock %}

{% block contenido %}
<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">

      <div class="card">

        <div class="card-header">
          <strong>Agregar nueva marca</strong>
        </div>


        <div class="card-body">

          <form action="" method="post">

            {% csrf_token %}

            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label for="nom_marca" class="form-label">Nombre</label>
                    <input type="text" name="nom_marca" class="form-control" id="nom_marca" placeholder="nombre marca">
                  </div>
                </div>
                <div>
                  <a href="{% url 'marcas' %}">Volver</a>
                </div>
                <div class="d-flex justify-content-end">
                  <input type="submit" value="Agregar marca" class="btn btn-success">
                  &nbsp;
                  <input type="reset" value="Cancelar" class="btn btn-danger">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br>
{% endblock %}