{% extends "app/base2.html" %}
{% block title %}
<title>Marcas</title>
{% endblock %}

{% block js %}

<script>
  function eliminarProducto(id) {
    Swal.fire({
      "title": "¿Estás Seguro?",
      "text": "Esta acción no se puede deshacer",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, Cancelar",
      "confirmButtonText": "Si, Eliminar",
      "reverseButtons": true,
      "confirmButtonColor": "#dc3545",
    })
    .then(function(result){
      if(result.isConfirmed){
        window.location.href = "/administracion/marcas/eliminar/"+id
      }
    })
  }  
</script>

{% endblock %}

{% block contenido %}

<br><br><br>
<div class="container">
  <div class="table-reponsive">
    <table class="table table-sm">
      <h2>Listado de Marcas</h2>
      <hr>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for p in marcas %}
        <tr>
          <td>{{ p.id }}</td>
          <td>{{ p.nom_marca | title }}</td>
          <td>
            <div>
              <a href="{% url 'modificar_marca' p.id %}" class="btn btn-info btn-sm text-white">Modificar</a>
            </div>
            <div>
              <a href="#" onclick="eliminarProducto({{ p.id }})" class="btn btn-danger btn-sm text-white">Eliminar</a> 
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <a href="{% url 'index' %}">Volver</a>
    </div>
    <hr>
    <div class="d-flex justify-content-end">
      <a href="{% url 'agregar_marca' %}" class="btn btn-primary">Agregar nueva marca</a>
    </div>
  </div>
</div>
<br><br><br>

{% endblock %}