.form-control.error {
    border: 1px solid red;
} 

.error {
    color: red;
}

.info-text {
    color: #6c757d; 
    font-size: 0.8rem; 
    margin-top: 5px;
}

.zoom-card {
    transition: transform 0.3s ease-in-out;
}
  
.zoom-card:hover {
    transform: scale(1.05);
}

#togglePassword {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

