{% extends "app/base.html" %}
{% load static %}
{% block title %}
<title>Resultados</title>
{% endblock %}

{% block contenido %}
<br><br>

<div class="container">
  <div class="row">
    <h5>Resultados para la búsqueda: {{ busqueda }}</h5>
    <hr>
    <br>
    {% if resultados %}
    {% for r in resultados %}
    <div class="col-12 col-md-6 col-lg-3">
      <a href="{% url 'detalle_producto' r.id %}" style="text-decoration: none; color: black;">

        <div class="card mb-3 zoom-card">

          <img src="{{ r.image_url }}" class="card-img-top img-fluid" alt="imagen producto">

          <div class="card-body">
            <strong>{{ r.marca.nom_marca }}</strong>
            <p class="card-title">{{ r.nombre }}</p>
            <strong>${{ r.precio }}</strong>
            <div class="d-grid mt-3">
              <a href="{% url 'agregar-carrito' r.id %}"  class="btn btn-success">
                Agregar al carro
                <i class="bi bi-cart"></i>
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-danger text-center">
      No se encontraron coincidencias
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
