{% load humanize %}
<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-primary">Tu Carro</span>
  <span class="badge bg-primary rounded-pill">{{ cantidad_total }}</span>
</h4>





{% if request.session.carrito.items %}

<div class="row">
  {% for key, value in request.session.carrito.items %}
  <div class="col-6">
    <img class="img-fluid w-100" src="{{ value.image_url }}" alt="imagen-producto">
  </div>
  <div class="col-6">
    <a href="#" class="btn btn-default">
      <strong>{{ value.marca }}</strong>
    </a>  
    <p>{{ value.nombre }}</p>
    <h5>ID: {{ value.producto_id }}</h5>
    <h5>${{ value.acumulado | intcomma }}</h5>
    <div>
      <h5>cantidad: {{ value.cantidad }}</h5>
      <a href="{% url 'agregar-carrito' value.producto_id %}" class="btn badge text-bg-secondary">+</a>
      <a href="{% url 'restar-carrito' value.producto_id %}" class="btn badge text-bg-secondary">-</a>
    </div>
    <br>
  </div>
  <hr>
  {% endfor %}
  {% else %}

  <div class="alert alert-danger text-center">
    Sin Productos
  </div>

</div>
{% endif %}

<br>
<hr>

<ul>

  <li class="list-group-item d-flex justify-content-between">
    <span>Total en pesos chilenos</span>
    <span id="total_carrito" data-value="{{ total_carrito }}">${{ total_carrito | intcomma }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Valor dolar actual</span>
    <span id="valor_dolar" data-value="{{ valor_dolar }}">${{ valor_dolar | intcomma }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Total en dolares</span>
    <span>${% widthratio total_carrito valor_dolar 1 %}</span>
  </li>

</ul>

<hr>
<div class="d-grid gap-2">
  <a href="{% url 'limpiar-carrito' %}" class="btn btn-danger">Limpiar</a>
  <a href="{% url 'checkout' %}" class="btn btn-success">Ir al Checkout</a>
</div>