{% load humanize %}
<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-primary">Tu Carro</span>
  <span class="badge bg-primary rounded-pill">{{ total_carrito.cantidad_total }}</span>
</h4>





{% if request.session.carrito.items %}




<table class="table">
  <thead>
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  {% for key, value in request.session.carrito.items %}
  <tbody>
    <tr>
      <td>{{ value.nombre}}</td>
      <td>${{ value.acumulado | intcomma }}</td>
      <td>{{ value.cantidad }}</td>
      <td>
        <a href="{% url 'agregar-carrito' value.producto_id %}" class="btn badge text-bg-secondary">+</a>
        <a href="{% url 'restar-carrito' value.producto_id %}" class="btn badge text-bg-secondary">-</a>
      </td>
    </tr>
  </tbody>



{% endfor %}
{% else %}

<div class="alert alert-danger text-center">
  Sin Productos
</div>

{% endif %}

</table>

<ul>

  <li class="list-group-item d-flex justify-content-between">
    <span>Total</span>
    <strong>${{ total_carrito  | intcomma }}</strong>
  </li>

</ul>

<hr>
<div class="row text-center">
  <div class="col-6"><a href="{% url 'limpiar-carrito' %}" class="btn btn-danger">Limpiar</a></div>
  <div class="col-6"><a href="" class="btn btn-success">Guardar</a></div>
</div>