{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
<title>Checkout</title>
{% endblock %}

{% block contenido %}

<div class="container">
  <br><br>
  <div class="row">
    <div class="col-12 col-md-7">

      <!-- bar progress -->
      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="50" aria-valuemin="0"
        aria-valuemax="100" style="height: 5px">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 50%"></div>
      </div>
      <br>


      <!-- tipo de entrega -->
      <h4>
        <Strong>
          Seleccionar tipo de entrega
        </Strong>
      </h4>
      <br>
      <ul class="list-group">
        <li class="list-group-item align-items-center">
          <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="retiro" id="retiro">
          <label class="form-check-label" for="retiro">
            <strong>Retiro en tienda</strong>
          </label>
          <span class="badge text-bg-primary">
            <small>Costo $0</small>
          </span>
        </li>

        <li class="list-group-item">
          <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="despacho" id="despacho">
          <label class="form-check-label" for="despcho">
            <strong>Despacho a Domicilio</strong>
          </label>
        </li>
      </ul>
    </div>

    <!-- carrito -->
    <div class="col-12 col-md-5">
      {% include 'app/carrito.html' %}
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block js %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
<!-- Ubicación -->
<script src="{% static 'app/js/ubicacion.js' %}"></script>
{% endblock %}