{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
<title>Checkout</title>
{% endblock %}

{% block contenido %}

<div class="container">
  <br><br>
  <div class="row">
    <div class="col-12 col-md-7">

      <!-- bar progress -->
      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="50" aria-valuemin="0"
        aria-valuemax="100" style="height: 5px">
        <div id="barra-progreso" class="progress-bar bg-success progress-bar-striped progress-bar-animated"
          style="width: 50%"></div>
      </div>
      <br>


      <!-- tipo de entrega -->
      <h4>
        <Strong>
          Seleccionar tipo de entrega
        </Strong>
      </h4>
      <br>
      <ul class="list-group">
        <li class="list-group-item align-items-center">
          <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="retiro" id="retiro" onchange="continuar()">
          <label class="form-check-label" for="retiro">
            <strong>Retiro en tienda</strong>
          </label>
          <span class="badge text-bg-primary">
            <small>Costo $0</small>
          </span>
        </li>

        <li class="list-group-item">
          <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="despacho" id="despacho" onchange="continuar()">
          <label class="form-check-label" for="despcho">
            <strong>Despacho a Domicilio</strong>
          </label>
        </li>
      </ul>
      <br>


      <div id="formulario-retiro" style="display: none;">
        <!-- Contenido del formulario de retiro -->
        <h4>Formulario de Retiro en Tienda</h4>
        <form>
          <!-- Campos del formulario de retiro -->
          <!-- Por ejemplo: -->
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre">
        </form>
        <br>
      </div>

      
      <div id="formulario-despacho" style="display: none;">
        <!-- Contenido del formulario de despacho -->
        <div class="card">
          <div class="card-header">
            <h5>Agrega tu dirección</h5>
          </div>
          <div class="card-body">
            {% if direcciones %}
            {% for d in direcciones %}
            <div class="alert alert-primary" role="alert">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ d.id }}" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  {{ d.direccion }} {{ d.num_direccion}}, {{ d.comuna.nom_comuna }}, {{ d.comuna.provincia.region.nom_region }}
                </label>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger" role="alert">
              No tienes direcciones registradas
            </div>
            {% endif %}
            <form method="POST" id="despacho-form">
              
              
              {% csrf_token %}


              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label for="direccion" class="form-label">
                      <strong>Buscar dirección</strong>
                    </label>
                    <input type="text" class="form-control form-control-sm" id="direccion"
                      placeholder="Ingresa tu dirección"  name="buscarDireccion">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="mb-3">
                    <label for="dir" class="form-label">
                      <strong>Dirección</strong>
                    </label>
                    <input type="text" class="form-control form-control-sm" id="dir" placeholder="autocomplete..." name="dir">
                  </div>
                  <div class="mb-3">
                    <label for="numero" class="form-label">
                      <strong>Número</strong>
                    </label>
                    <input type="text" class="form-control form-control-sm" id="numero"
                      placeholder="Número de domicilio" name="numero">
                  </div>
                  <div class="mb-3">
                    <label for="dpto" class="form-label">
                      <strong>Piso / Oficina / Apto / Depto</strong>
                    </label>
                    <input type="text" class="form-control form-control-sm" id="dpto"
                      placeholder="Descripción (opcional)" name="descripcion">
                  </div>
                  <div class="mb-3">
                    <label for="regiones" class="form-label">
                      <strong>Región</strong>
                    </label>
                   
                    <select class="form-select form-select-sm" id="regiones" name="region" required>
                      <option value="">Seleccione una Región</option>
                      {% for r in regiones %}
                      <option value="{{r.id}}">{{r.nom_region}}</option>
                      {% endfor %}
                    </select>
                    
                  </div>
                  <div class="mb-3">
                    <label for="provincias" class="form-label">
                      <strong>Provincia</strong>
                    </label>
                    <select class="form-select form-select-sm" id="provincias" name="provincia" required>
                      <option value="">Seleccione una Provincia</option>
                      <option value=""> - </option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="comunas" class="form-label">
                      <strong>Comuna</strong>
                    </label>
                    <select class="form-select form-select-sm" id="comunas" name="comuna" required>
                      <option value="">Seleccione una Comuna</option>
                      <option value=""> - </option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <!-- google maps  -->
                  <div class="map" id="map"></div>
                </div>
                <div class="row mt-3">
                  <div class="col-12">
                    <div class="d-grid">
                      <button type="submit" class="btn btn-success btn-sm">Guardar Dirección</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <br>
      </div>
    </div>

    <!-- carrito -->
    <div class="col-12 col-md-5">
      {% include 'app/carrito.html' %}
    </div>
  </div>
</div>
</div>

{% endblock %}





{% block js %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
<!-- region, provincia, comuna -->
<script src="{% static 'app/js/ubicacion.js' %}"></script>
<!-- formularios -->
<script src="{% static 'app/js/carrito.js' %}"></script>
<!-- google maps -->
<script>
      document.addEventListener("DOMContentLoaded", function() {
      const inputDireccion = document.getElementById('direccion');
      inputDireccion.addEventListener('change', buscarDireccion);
    });
</script>
<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzAifZGBkzUH0CZ0GaDwOXROZYtNtc8Uc&libraries=places&callback=initMap"></script>
<script src="{% static 'app/js/funcionesGoogleMaps.js' %}"></script>
<!-- validaciones -->
<script src="{% static 'app/js/gestionCheckout.js' %}"></script>
<!-- option select de region, provincia y comuna -->
<script src="{% static 'app/js/regiones.js' %}"></script>
{% endblock %}