{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
<title>Marca</title>
{% endblock %}

{% block contenido %}

<br><br>

<div class="container">
  <div class="row">
    <h3>Marca: {{ marca }}</h3>
    <hr>
    {% for p in productos %}
    <div class="col-12 col-md-6 col-lg-3">
      <a href="{% url 'detalle_producto' p.id %}" style="text-decoration: none;">

        <div class="card mb-3 zoom-card">

          <img src="{{ p.image_url }}" class="card-img-top img-fluid" alt="imagen producto">

          <div class="card-body">
            <h5 class="card-title">{{ p.nombre }}</h5>
            <h6>{{ p.marca_nombre }}</h6>
            <h3>${{ p.precio | intcomma }}</h3>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}