{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
<title>Resultado pago</title>
{% endblock %}


{% block contenido %}
<div class="container">
  <br><br><br>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header text-bg-success">
          <strong>Pedido</strong>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <div class="fw-bold">Tipo de entrega</div>
                </div>
                <span>{{ request.session.detalles_entrega.tipo_entrega }}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <div class="fw-bold">Dirección de envío</div>
                </div>
                <span>{{ request.session.detalles_entrega.direccion }}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <div class="fw-bold">Despacho</div>
                </div>
                <span>{{ request.session.detalles_entrega.fecha_entrega }}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <div class="fw-bold">Recibe</div>
                </div>
                <span>{{ user.first_name }} {{ user.last_name }}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <div class="fw-bold">Contacto</div>
                </div>
                <span>{{ user.email }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header text-bg-success">
          <strong>Información de pago</strong>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <div class="fw-bold">Forma de pago</div>
                </div>
                <span>{{ request.session.forma_de_pago.forma_pago }}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <div class="fw-bold">Tipo Documento</div>
                </div>
                <span>{{ request.session.forma_de_pago.tipo_documento }}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <div class="fw-bold">Orden de compra</div>
                </div>
                <span>{{ buy_order }}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <div class="fw-bold">Estado</div>
                </div>
                <span>{{ status }}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <div class="fw-bold">Número de tarjeta</div>
                </div>
                <span>Tarjeta terminada en {{ card_number }}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <div class="fw-bold">Fecha de transacción</div>
                </div>
                <span>{{ transaction_date }}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <div class="fw-bold">Código de Autorización</div>
                </div>
                <span>{{ authorization_code }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header text-bg-success">
          <strong>Productos</strong>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Imagen</th>
                  <th scope="col">Producto(s)</th>
                  <th scope="col">Precio</th>
                </tr>
              </thead>
              <tbody>
                {% if request.session.carrito.items %}
                {% for key, value in request.session.carrito.items %}
                <tr>
                  <th scope="row">{{ value.cantidad }}</th>
                  <th><img class="img-fluid" src="http://127.0.0.1:8000/{{ value.image_url }}" alt="imagen-producto" style="max-width: 100px; height: auto;"></th>
                  <td>{{ value.nombre }}</td>
                  <td>${{ value.acumulado }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <div class="alert alert-danger text-center">
                  Sin Productos
                </div>
                {% endif %}
              </tbody>
            </table>
          </div>
          <ul>
            <li class="list-group-item d-flex justify-content-between">
              <span class="fw-bold">Subtotal</span>
              <span id="subtotal" data-value="{{ total_carrito }}">${{ subtotal }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span class="fw-bold">Total pagado</span>
              <span id="total_a_pagar">${{ amount }}</span>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <hr>
      <a href="{% url 'home' %}" class="btn btn-success">Ir al inicio</a>
    </div>
  </div>
</div>
{% endblock %}